* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
span {
  width: 100%;
  height: 10em;
  display: flex;
  text-align: center;
  vertical-align: middle;
  flex-direction: column;
}
input {
  width: 30%;
  height: 3em;
  margin-left: auto;
  margin-right: auto;
}
#magnifier {
  width: 1em;
  height: 1em;
  left: 30em;
  background-color: ;
  border-radius: 1em;
  margin-left: 43%;
  margin-right: auto;
  margin-top: -1.5em;
}
h1 {
  font-size: 7em;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #e7dfc2;
  font-style: Alumni Sans Inline One;
  border: grey solid 4px;
}
a {
  text-decoration: none;
  color: black;
}

p {
  width: 100%;
  font-style: Sample glyphs;
  line-height: 1.2em;
}
section {
  width: 20%;
  height: fit-content;
  margin: 2em;
  padding: 2em;
  text-align: center;
  font-weight: bolder;
  font-size: large;
}
section>h3{
  text-transform: capitalize;
  text-decoration: underline;
  
}
img {
  width: 40%;
  height: 20em;
  object-fit: cover;
}
#arrowup {
  width: 2em;
  height: 2em;
  background-color: grey;
  border-radius: 1em;
  bottom: 0;
}
#up {
  margin-left: 50%;
}
@media screen and (max-width:500px) {

  h1{
  
    font-size: 2em;
  }
  h3{
    
   
  }
 
  }
}
